:root {
    --primary-color: #989898;
    /* Battleship Grey */
    --secondary-color: #e0e0e0;
    /* Platnum */
    --accent1-color: #ffffff;
    /* White */
    --accent2-color: #0e0e0e;
    /* Night */
    --accent3-color: #000000;
    /* Black */

    --heading-font: "Sono", Helvetica, sans-serif;
    --paragraph-font: "Roboto Mono", Helvetica, sans-serif;



    --headline-color-on-white: var(--primary-color);
    /* headlines on a white background */

    --headline-color-on-color: var(--accent1-color);
    /* headlines on a colored background */

    --paragraph-color-on-white: var(--primary-color);
    /* paragraph text on a white background */

    --paragraph-color-on-color: var(--accent1-color);
    /* paragraph text on a colored background */

    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent3-color);
    --nav-hover-background-color: var(--primary-color);

    /* SVG manipulation */
    --primary-svg-color: var(--accent3-color);
    --secondary-svg-color: var(--accent1-color)
}
a{
    border: 1px solid black;
}
a br {
    margin: 5px;
}


/* Logo manipulation */
svg {
    max-width: 100px;
}
.f {
    fill: var(--secondary-svg-color);
}

.g {
    stroke: var(--primary-svg-color);
    stroke-miterlimit: 10;
    fill: var(--primary-svg-color);
}