:root {
    color-scheme: light dark;

    /* Fonts */
    --heading-font: "Sono", Helvetica, sans-serif;
    --paragraph-font: "Roboto Mono", Helvetica, sans-serif;

    /* Light Mode Color Palette */
    --primary-color-light: #000000;
    --secondary-color-light: #0e0e0e;
    --accent1-color-light: #ffffff;
    --accent2-color-light: #e0e0e0;
    --accent3-color-light: #989898;


    /*Color Palette */
    --primary-color-dark: #989898;
    /* Battleship Grey */
    --secondary-color-dark: #e0e0e0;
    /* Platnum */
    --accent1-color-dark: #ffffff;
    /* White */
    --accent2-color-dark: #0e0e0e;
    /* Night */
    --accent3-color-dark: #000000;
    /* Black */

    --primary-color: light-dark(#989898, #000000);
    --secondary-color: light-dark(#e0e0e0, #0e0e0e);
    --accent1-color: light-dark(#ffffff, #ffffff);
    --accent2-color: light-dark(#0e0e0e, #e0e0e0);
    --accent3-color: light-dark(#000000, #989898);


    --headline-color-on-white: var(--primary-color);
    /* headlines on a white background */

    --headline-color-on-color: var(--accent1-color);
    /* headlines on a colored background */

    --paragraph-color-on-white: var(--primary-color);
    /* paragraph text on a white background */

    --paragraph-color-on-color: var(--accent1-color);
    /* paragraph text on a colored background */

    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent3-color);
    --nav-hover-background-color: var(--primary-color);

    /* SVG manipulation */
    --primary-svg-color: var(--accent3-color);
    --secondary-svg-color: var(--accent1-color)

    /* Selector variables */
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Logo manipulation */
svg {
    max-width: 100px;
}

/* Background styling */
.hidden {
    display: none;
}
.invisible {
    text-decoration: none;
    color: inherit;
}

/* Mobile Styling */
p {
    font-family: var(--paragraph-font);
}

/* Nav Styling */
nav {
    background-color: var(--accent1-color);
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
}

.logo {
    display: none;
}

.selectors {
    text-align: center;
    height: inherit;
}
.selectors li {
    justify-content: center;
    align-items: center;
}
select {
    width: 75%;
    height: inherit;
    margin: 15px 0;
    text-align: center;
}

.main-nav {
    text-align: center;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
}
.main-nav li {
    border: 1px solid var(--accent2-color);
    padding: 5px;
    height: 33%;
}
.main-nav li a {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    text-decoration: none;
}

/* Main Content */
.card {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    margin: 10% 10%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}
h1, h2, h3, h4 {
    font-family: var(--heading-font);
    padding-bottom: 5px;
}

.thumbnail {
    align-self: center;
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;

    max-width: 200px;
    max-height: 150px;
}
.description {
    margin: 10px;
    font-family: var(--paragraph-font);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 75%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    height: inherit;
    padding: 10px 0 10px 10px;
}
.footer-logo-img {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    justify-content: center;
}
.footer-logo a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}
.footer-logo .logo-text-one {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: center;
}
.footer-logo .logo-text-two {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* TODO: Sketch idea, block out wireframe, build with wireframe */


/* Desktop Styling */
@media screen and (min-width: 768px) {
    .logo {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        height: inherit;
        padding: 10px 0 10px 10px;
    }
    #logo {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        justify-content: center;
    }
    .logo a {
        text-decoration: none;
        font-family: var(--paragraph-font);
        color: var(--accent2-color);
    }
    .logo .logo-text-one {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-content: center;
    }
    .logo .logo-text-two {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .footer-logo {
        width: 50%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        height: inherit;
        padding: 10px 0 10px 10px;
    }

    .footer-logo-img {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        justify-content: center;
    }

    .footer-logo a {
        text-decoration: none;
        font-family: var(--paragraph-font);
        color: var(--accent2-color);
    }

    .footer-logo .logo-text-one {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-content: center;
    }

    .footer-logo .logo-text-two {
        grid-column: 2 / 3;
        grid-row: 2 / 3;   
    }
    .links {
        width: 75%;
        display: flex;
        justify-content: space-around;   
    }
}

@media screen and (min-width: 1024px) {
    .main-nav {
        flex-direction: row;
    }
    .main-nav li {
        height: inherit;
        width: 33%;
        justify-content: center;
        align-items: center;
        padding-top: 8%;
    }
    .selectors {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .selectors li {
        width: 50%;
    }

    
    .card {
        display: grid;
        grid-template-areas:
            'title title tags'
            'img desc desc';
    }
    .title {
        grid-area: title;
    }
    .tags {
        grid-area: tags;
    }
    .thumbnail {
        grid-area: img;
        width: 100%;
        height: 100%;
        min-width: 300px;
        min-height: 250px;
    }
    .description {
        grid-area: desc;
    }

    footer {
        flex-direction: row;
    }
    .links {
        justify-content: space-evenly;
    }
}